{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}" type="text/css">
{% endblock styles%}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- display  uname-->
    <div class="col-md-2"></div>
    <div class="col-md-3 text-left">
      <h3> {{user.username| capitalize}}'s Profile </h3>
      {% if user.profile_pic_path %}
      <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt=""><br><br>
      {%else%}
      <p><b>No profile picture</b></p>
      {% endif %}

      <!--display bio-->
      {% if user.bio %}
      <p> {{user.bio}}</p>
      {%else%}
      <p><b>You have no bio.</b></p>
      {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit Bio</a><br><br>
      {% endif %}
      {% endif %}
      {% if user.bio %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit Bio</a><br><br>
      {% endif %}
      <p><b>Update Profile Picture</b></p>
      {% if user == current_user %}
      <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" class="form-control" required>
        <input type="submit">
      </form>
      {% endif %}
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 pitches">

      {% if pitches%}

      <h3>YOUR PITCHES</h3>
      <div id='card' class="">
        {% for pitch in pitches %}
        <div class="card ">
          <div class="mx-auto card-body">
            <h3 class="card-title">{{pitch.title}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Submitted on :{{pitch.posted.strftime('%Y-%m-%d')}}</h6>
            <p class="card-text">Pitch: {{pitch.pitch_content}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {%else%}
      <p>You have no pitches</p>
      {%endif%}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}