{% extends 'base.html'%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}" type="text/css">
{% endblock %}

{% block content %}

<hr style="width: 50%;">
<div class="introduction">
  <h3 class="text-center" style="color: #80F !important; font-family: 'Pacifico', cursive;"><strong>ELEVATOR PITCH</strong></h3>
  <h5 class="text-center">Lavitate Elevate </h5>
  <br>
  <p class="card-text" style="font-family: sans-serif; font-size: 14px;">It has been said that an effective elevator pitch is meant to be no more than 30 seconds, just like the length of 
    time you ride in an elevator. You want to keep your words easily digestible, so avoid trying to get too deep into specifics as it can drag 
    on the conversation — and lose your prospect's attention. Your take away here is <strong>Keep your elevator pitch goal-oriented</strong>
      <a href="{{url_for('main.new_pitch', uname=current_user.username)}}">Share your Pitch</a> and get feedback on it.</p>
</div>

{% endblock %}



