{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css"> -->
{% endblock styles%}
<!-- Content block -->
<!-- {% block content %}
<div class="container text-center">
    <img src="{{url_for('static', filename='images/white.jpg')}}" />
    <div class="text-content">
        <h1>If you can not explain it simply you do not understand it well enough.</h1>
        <h5>Albert Einstein</h5>
    </div>
</div> -->

{% endblock %}
